* {
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(#041668, #000);

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        padding: 4rem 2rem;
        gap: 2rem;
        
    }
}

.herotext {
    padding: 0 2rem;
}

.herotext span {
    font-weight: bold;
    color: #627ae6;
}

.herotext h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 4rem;
    color: #ffffff;
}

.herotext h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.herotext p {
    font-weight: bold;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    color: #ffffff;
    max-width: 500px;
}

.socialLinks {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnlinkedin, .btngithub {
    display: inline-block;
    margin-right: 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 1s ease;
}

.btnlinkedin:hover, .btngithub:hover {
    color: #0077b5;
}

.heroimage img {
    margin-top: 5rem;
    width: 400px;
    height: auto;
    border-radius: 3rem;
    object-fit: cover;
    transition: transform 0.8s ease;
}

.heroimage img:hover {
    transform: scale(1.05);
}
